[access]
	inheritFrom = releng
[project]
	description = (Archived) This project is no longer in use and all of the roles have been split out into the various ansible/roles/* projects in Gerrit.\n\
\n\
Ansible used by common-packer and global-jjb
	state = read only
[access "refs/*"]
	read = group GitHub Replication
